<section class="section2">
    <div class="container">
        <div class="section2-title">
            <h2>THE WOOD WE WORK WITH</h2>
        </div>
        <div class="section2-flex d-f">
            <div class="section2-block1" *ngFor="let item of elements">
                <img src={{item.image}} alt="image">
                <h4>{{item.title}}</h4>
                <p><img src={{item.imageChild1}} alt="image"> {{item.description1}}</p>
                <p><img src={{item.imageChild2}} alt="image"> {{item.description2}} <br> texture</p>
                <p><img src={{item.imageChild3}} alt="image"> {{item.description3}}</p>
                <p><img src={{item.imageChild4}} alt="image"> {{item.description4}}</p>
            </div>
        </div>
    </div>
</section>