<footer>
    <div class="container">
        <div class="footer-flex d-f">
            <div class="footer-logo">
                <a routerLink="/home"><img src="assets/images/logofooter.png" alt="logo"></a>
            </div>
            <div class="footer-tel">
                <img src="assets/images/call.png" alt="call-img">
                <a href="#"> +420 000 000 000</a>
            </div>
            <div class="footer-nav">
                <img src="assets/images/nav.png" alt="nav-img">
                <a href="#">Na Plzeňce 1166/0 <br> 150 00</a>
            </div>
        </div>
        <div class="footer-flex2 d-f">
            <div class="footer-pol">
            <a href="#">Privacy Policy</a>
            </div>
            <div class="footer-text">
                <p>Write to us and we will be sure to answer all your questions
                    and give you a comprehensive consultation.</p>
            </div>
        </div>
    </div>
</footer>