<div class="web-site">
    <div class="back-cl">
        <app-header></app-header>
        <main>
            <section class="section1">
                <div class="container">
                    <div class="section1-flex d-f">
                        <div class="section1-title t-c">
                            <h1>Contact</h1>
                            <div class="title-info">
                                <div class="info-tel">
                                    <img src="assets/images/call.png" alt="image-tel">
                                    <a href="#">+420 000 000 000</a>
                                </div>
                                <div class="info-nav">
                                    <img src="assets/images/nav.png" alt="image-nav">
                                    <a href="#">Na Plzeňce 1166/0 <br>150 00</a>
                                </div>
                            </div>
                        </div>
                        <div class="section1-map">
                            <iframe class="mapw"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.8962600260006!2d43.83785705636483!3d40.7862947718788!2m3!1f0!2f0!
                                3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4041fbed15cdb0cb%3A0xea64b7ee5515c5de!2sGyumri%20Technology%20Center!5e0!3m2!1sru!2s!4v1668609439824!5m2!1sru!2s"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <app-any-questions></app-any-questions>
        </main>
        <app-footer></app-footer>
    </div>
</div>