/* SECTION 1 CSS START  */
.section1-title > h3 {
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;    
    text-transform: uppercase;
    color: #F5F5F5;
    padding: 102px 0 121px 248px;
}
.section1-flex {
    justify-content: space-between;
    align-items: center;
}
.slider {
    width: 1130px;
    height: 775px;
    margin: 30px auto;
    overflow: hidden;
}
.slider-line {
    height: 754px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.slider-line > img {
    border-radius: 5%;
}
.slider-next, .slider-prev {
    cursor: pointer;
    /* display: inline-block; */
    transition-duration: 0.5s;
}
.slider-next:hover, .slider-prev:hover {
    transform: scale(1.2);
}
/* SECTION 1 CSS END  */
/* MEDIA */
@media screen and (max-width: 1050px) {
    .section1-title > h3 {
        font-size: 60px;
        padding: 57px 0 50px 193px;
    }
}
@media screen and (max-width: 850px) {
    .section1-title > h3 {
        font-size: 48px;
        padding: 39px 0 50px 120px;
    }
    .section1-flex {
        justify-content: space-evenly;
        align-items: center;
    }
    .section1-img > img { 
        width: 12%;
    }
}
@media screen and (max-width: 650px) {
    .section1-title > h3 {
        font-size: 30px;
        padding: 39px 0 46px 10px;
    }
    .section1-img {
        padding: 14px 0 93px;
    }
}