<section class="section4">
    <div class="section4-flex d-f">
        <div class="section4-title">
            <h4>About us</h4>
            <p>BIO CWT - We manufacture solid wood products according to individual drawings.
                We make chairs, armchairs, wardrobes, beds and much more in our own workshop,
                equipped with all the necessary industrial equipment.</p>
        </div>
        <div class="section4-img t-c">
            <img src="assets/images/image10.png" alt="image">
            <img src="assets/images/image11.png" alt="image">
            <img src="assets/images/image12.png" alt="image">
        </div>
    </div>
</section>