/* SECTION 4 CSS START */
.section4 {
    background-color: #1e0c068f;
    margin-right: 115px;
    border-radius: 0px 42px 42px 0px;
}
.section4-flex {
    justify-content: space-evenly;
}
.section4-title {
    width: 42%;
}
.section4-title > h4 {
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    text-transform: uppercase; 
    color: #F5F5F5;
    padding-top: 44px;
}
.section4-title > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 139.4%;    
    color: #F5F5F5;
    padding: 67px 0 250px;
}
.section4-img {
    width: 50%;
    position: relative;
    padding-bottom: 50px;
}
.section4-img > img:nth-of-type(1) {
    margin-top: 177px;
    position: absolute;
    border-radius: 25%;
    border: 14px solid #1E0C06;
}
.section4-img > img:nth-of-type(2) {
    margin: 85px 0 272px 245px;
}
.section4-img > img:nth-of-type(3) {
    margin-left: 220px;
}
/* SECTION 4 CSS END */
/* MEDIA */
@media screen and (max-width: 1250px) {
    .section4-title > p {
        font-size: 25px;
        line-height: 124.4%;
        padding: 36px 0 130px;
    }
    .section4-title > h4 {
        font-size: 70px;
        line-height: 105.9%;
        padding-top: 44px;
    }
    .section4-img > img:nth-of-type(3) {
        margin-left: 0;
    }
    .section4-img > img:nth-of-type(2) {
        margin-bottom: 0;
        margin-left: 20px;
    }
    .section4-img > img:nth-of-type(1) {
        margin-top: 177px;
        position: absolute;
        border-radius: 25%;
        border: 14px solid #1E0C06;
        left: 5px;
    }
    .section4-img > img:nth-of-type(2) {
        margin-bottom: 0;
        margin-left: 215px;
    }
    .section4-img > img:nth-of-type(3) {
        margin-left: 130px;
        margin-top: 264px;
    }
}
@media screen and (max-width: 1050px) {
    .section4-title > h4 {
        font-size: 50px;
        line-height: 65.9%;
    }
    .section4-img > img:nth-of-type(2) {
        width: 35%;
        margin: 30px 0 0px 245px;
    }
    .section4-img > img:nth-of-type(1) {
        width: 43%;
        left: 129px;
        top: -68px;
    }
    .section4-img > img:nth-of-type(3) {
        margin-left: 160px;
        margin-top: 132px;
        width: 32%;
    }
    .section4-title > p {
        font-size: 20px;
        line-height: 113.4%;
    }
}
@media screen and (max-width: 850px) {
    .section4-title > h4 {
        font-size: 38px;
        line-height: 79.9%;
    }
    .section4-title > p {
        font-size: 17px;
        padding: 36px 0 20px;
    }
    .section4-img > img:nth-of-type(3) {
        width: 35%;
        margin-top: 80px;
        margin-left: 74px;
    }
    .section4-img > img:nth-of-type(2) {
        width: 35%;
        margin: 30px 0 0px 7px;
    }
    .section4-img > img:nth-of-type(1) {
        left: 21px;
        top: -84px;
    }
}
@media screen and (max-width: 650px) {
    .section4 {
        margin-right: 25px;
    }
    .section4-flex {
        flex-wrap: wrap;
    }
    .section4-title {
        width: 100%;
        padding: 0 9px;
    }
    .section4-title > h4 {
        font-size: 30px;
        line-height: 139%;
        padding-top: 47px;
    }
    .section4-img > img:nth-of-type(1) {
        width: 100%;
        left: -37px;
        top: -128px;
    }
    .section4-img > img:nth-of-type(2) {
        width: 65.5%;
        margin: 30px 0 0px 96px;
    }
    .section4-img > img:nth-of-type(3) {
        width: 65.5%;
        margin-top: 95px;
    }
}