<div class="web-site">
    <div class="back-cl">
        <div class="back-img">
            <div class="back-cl2">
                <header>
                    <div class="container">
                        <nav>
                            <div class="nav-flex d-f">
                                <div class="nav-logo">
                                    <a href="./index.html"><img src="assets/images/logo.png" alt="logo-image"></a>
                                </div>
                                <div class="nav-menu">
                                    <ul>
                                        <li *ngFor="let menuItem of menuArr">
                                            <a routerLink="{{menuItem.url}}" routerLinkActive="active">{{menuItem.label}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-mobile__menu">
                                    <div>
                                        <label for="toggle-menu"><img src="assets/images/menu-logo2.png"
                                                alt="logo-menu"></label>
                                    </div>
                                    <input type="checkbox" hidden id="toggle-menu">
                                    <div class="mobile-menu-block">
                                        <div class="text-left"><label for="toggle-menu"><img
                                                    src="assets/images/menu-logo.png" alt="logo-menu"></label></div>
                                        <div>
                                            <ul>
                                                <li *ngFor="let menuItem of menuArr" class="mobile-menu-block-item">
                                                    <a routerLink="{{menuItem.url}}" routerLinkActive="active">{{menuItem.label}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
                <main>
                    <section class="section1">
                        <div class="container">
                            <div class="section1-title">
                                <img src="assets/images/error.png" alt="Error-img">
                            </div>
                            <div class="section1-subtitle">
                                <h2>Woops</h2>
                                <p>Oh, you must be lost, there is no such page.</p>
                                <a routerLink="./index.html">Go to the home page</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</div>